@import "r&n.scss";
@import "variables.scss";
@import "mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: $mainFont;
  color: $mainColor;
}

a {
  color: inherit;
  text-decoration: none;
}

.text--link {
  border-bottom: 1px solid #1a1a1a;
  padding-bottom: 0.5em;
}

.link--arrow {
  margin-top: 1em;
  display: block;
}

.header__saleout {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ced3ca;
  @include paddings(1em 0);
}
.header__saleout__text {
  padding-right: 1em;
}

.btn {
  @include text($-fontsize: 12px, $_lineheight: 28px);
  @include paddings(0.25em 1.5em);
  background: #1a1a1a;
  color: #fff;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}

.header__title {
  display: flex;
  align-items: center;
  @include paddings(2.5em 4.5em);
  background: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 93%;
  z-index: 2;
}

.header__logo {
  margin-right: 4em;
}

.menu__list {
  display: flex;
  line-height: 20px;
  gap: 2em;
}

.menu__list--item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #1a1a1a;
  transition: width 0.5s ease-in-out;
}

.menu__list--item:hover:after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.header__links {
  margin-left: auto;
  @include text($-fontsize: 15px, $_lineheight: 18px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.header__links--block1,
.header__links--block2 {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header__link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #1a1a1a;
  transition: all 0.5s ease-in-out;
}

.header__link:hover::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.header__delimiter {
  font-size: 150%;
}

.header__content {
  background: url(../images/header-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  @include container($_maxWidth: 1180px);
}

.header__inner {
  min-height: calc(100vh - 195px);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 0.5em;
}

.header__content__title {
  @include text($-fontsize: 18px, $_lineheight: 158%);
}

.header__content__subtitle {
  @include text($-fontsize: 15px, $_lineheight: 150%);
  border-bottom: 1px solid white;
  display: block;
  max-width: 6em;
}

.header__content__title,
.header__content__subtitle,
.header__content_subtitle--arrow {
  color: #fff;
}

.shop__inner {
  @include paddings(2.5em 0 11em);
}

.shop__carousel__list {
  @include text($-fontsize: 17px, $_lineheight: 159%);
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.item__link {
  color: #b3b3b3;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    transition: all 0.3s ease-in-out;
  }
}

.item__link.item--desc {
  color: #1a1a1a;
}

.shop__carousel__item:not(:last-child) {
  margin-right: 3em;
}

.link--active {
  color: $mainColor;
  border-bottom: 1px solid $mainColor;
}

.shop__cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
}

.shop__card__item:not(:nth-of-type(4n + 0)) {
  margin-right: 1.25em;
}

.shop__card__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  margin-right: 1.25em;
}

.shop__card__img--main {
  display: flex;
}

.shop__card__img--second {
  display: none;
}

.item__desc {
  margin-bottom: 0.3em;
}

.shop__card__item--title.inline--block {
  display: inline;
}

.shop__card__item--title,
.shop__card__item--sub__title {
  @include text($-fontsize: 15px, $_lineheight: 120%);
}

.shop__card__item--price,
.shop__card__item--price--sales {
  @include text($-fontsize: 13px, $_lineheight: 100%);
}

.shop__card__item--title {
  padding-right: 0.1em;
}

.shop__card__item--price {
  @include paddings(0 1em 0 0);
  display: inline;
}

.shop__card__item--sub__title {
  color: #a8a8a8;
}

.shop__card__item--price--sales {
  color: #ff3451;
}

.shop__card__item--price.old--price {
  color: #808080;
}

.shop__link {
  text-align: center;
}

.shop__inner__link {
  @include text($-fontsize: 20px, $_lineheight: 280%);
  @include paddings(1em 3em);
}

.section__sale {
  background: #ced3ca;
  @include paddings(8em 0em);
}

.sale__inner {
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale__image {
  background-image: url(../images/saleimage.webp);
  min-height: 406px;
  min-width: 754px;
}

.sale__desc {
  display: flex;
  flex-direction: column;
  padding-left: 5em;
  max-width: 208px;
}

.sale__header {
  @include text($-fontsize: 38px, $_lineheight: 120%);
  margin-bottom: 0.8em;
}

.sale__subtext {
  @include text($-fontsize: 14px, $_lineheight: 150%);
  border-bottom: 1px solid #1a1a1a;
  max-width: 7em;
}

.sale__link {
  max-width: 7em;
}

.sale__nav {
  margin-top: 0;
}

.mission__inner {
  padding: 7em 0;
}

.mission__title {
  @include text(30px, 120%);
  margin: 0 auto 3em;
  text-align: center;
  max-width: 21em;
}

.mission__cards.cards--top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.mission__text {
  margin-top: 0.5em;
  max-width: 7em;
}

.mission__subtext {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #1a1a1a;
}

.mission__link {
  border-bottom: 1px solid #1a1a1a;
  padding-bottom: 0.5em;
}

.mission--arrow {
  margin-top: 1em;
  display: block;
}

.mission__img {
  width: 100%;
}

.section__gather {
  background: #ced3ca;
  @include paddings(8em 0em);
}

.gather__inner {
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gather__desc {
  display: flex;
  flex-direction: column;
  padding-left: 5em;
  max-width: 208px;
}

.gather__header {
  @include text(37px, 123%);
  margin-bottom: 0.5em;
}

.gather__subtext {
  @include text(15px, 140%);
}

.gather__link {
  display: block;
  margin-top: 2em;
  max-width: 92px;
  border-bottom: 1px solid #1a1a1a;
}

.sale__arrow {
  display: block;
}

.section__story {
  background: url(../images/story-image.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.story__inner {
  @include paddings(6.8em 0 6.2em);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.story__header {
  @include text(35px, 154%);
  text-align: center;
  max-width: 22em;
}

.story__link {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #fff;
}

.section__form {
  background: #ced3ca;
}

.form__inner {
  @include paddings(6.5em 0);
}

.form__desc {
  text-align: center;
}

.form__desc,
.form__subtext {
  margin: 0 auto;
}

.form__header {
  @include text(34px, 120%);
  margin-bottom: 0.5em;
}

.form__subtext {
  @include text(16px, 140%);
  max-width: 23em;
  margin-bottom: 2em;
}

.main__form {
  display: flex;
  justify-content: center;
}

.form__email {
  @include paddings(0.7em 12em 0.875em 1.1em);
  border: 1px solid #242424;
}

.form__email:focus {
  outline: 1px solid #242424;
}

.form__btn {
  @include paddings(0.7em 1em 1em);
  background: #ffffff;
  border: 1px solid #242424;
  margin-left: 1em;
  cursor: pointer;
}

.footer {
  background: #f7f7f7;
}

.footer__inner {
  padding: 5.6em 0;
  display: flex;
}

.about__list.list--p1 > li,
.about__list.list--p2 > li {
  @include text(15px, 100%);
  margin-bottom: 1em;
}

.about__list.list--p1 {
  margin-right: 10em;
}

.listp1.link::after,
.listp2.link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #1a1a1a;
  transition: all 0.3s ease-in-out;
}

.listp1.link:hover::after,
.listp2.link:hover::after {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.footer__desc {
  @include text(15px, 140%);
  margin-left: auto;
  max-width: 31em;
}

.desc__top {
  max-width: 290px;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
    "copy__title desc__image"
    "copy__subtext desc__image";
}

.desc__image {
  grid-area: desc__image;
}
.copy__title {
  grid-area: copy__title;
}
.copy__subtext {
  grid-area: copy__subtext;
}

.copy__title,
.copy__subtext {
  text-align: right;
  margin-right: 1.5em;
}

.desc__bottom {
  margin-top: 2.3em;
  text-align: right;
}

.social__image {
  transition: all 0.7s ease-in-out;
  &:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
  }
}

.social__link:not(:last-child) {
  margin-right: 1em;
}

.scale-up-bottom {
  animation: scale-up-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-up-bottom {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu__btn,
.menu__row {
  display: none;
}

.shop__btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header__title {
    flex-direction: column;
    gap: 3em;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__logo,
  .header__links {
    margin-left: 0;
    font-size: 18px;
  }
  .menu__list {
    font-size: 18px;
  }
  .shop__card__item {
    margin-right: 1.25em;
  }
  .shop__cards {
    justify-content: space-evenly;
  }
  .mission__text {
    text-align: center;
    margin: 1em auto;
  }
  .gather__desc {
    padding-left: 1em;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .sale__inner {
    flex-direction: column;
  }
  .sale__desc {
    max-width: 100%;
    align-items: center;
    padding: 1em 0;
  }
  .gather__inner {
    flex-direction: column;
  }
  .gather__desc {
    text-align: center;
    padding-left: 0;
  }
  .gather__link {
    max-width: 100%;
  }
  .gather__image {
    width: 100%;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .header__logo {
    width: 50%;
  }
  .header__saleout {
    text-align: center;
    display: block;
  }

  .header__saleout__link {
    display: block;
    width: 50%;
    margin: 2em auto auto;
    padding: 1em 1.5em;
  }
  .header__inner {
    justify-content: center;
    align-items: center;
  }

  .header__content__title {
    font-size: 25px;
  }

  .header__content__subtitle,
  .header__content_subtitle--arrow {
    font-size: 20px;
  }
  .shop__cards,
  .shop__carousel__list {
    justify-content: space-evenly;
  }
  .shop__carousel__item:not(:last-child) {
    margin-right: 0;
  }
  .shop__carousel__item {
    margin-right: 0;
  }
  .section__sale {
    background: #ced3ca;
    padding: 8em 0em;
    background-image: url(../images/saleimage.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .sale__image {
    display: none;
  }
  .story__link {
    margin-top: 1em;
  }
  .story__header {
    font-size: 30px;
  }
  .about__list.list--p1 {
    margin-right: 3em;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .header__logo {
    width: 75%;
  }

  .header__title {
    position: relative;
    gap: 2.5em;
  }

  .header__saleout {
    padding: 0.5em;
  }

  .header__saleout__text {
    padding-right: 0;
  }
  .menu__btn {
    display: inline-block;
    width: 40px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 38px;
  }

  .menu__btn::after,
  .menu__btn::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #000;
  }

  .menu__btn::before {
    top: 0;
  }

  .menu__btn::after {
    bottom: 0;
  }

  .menu__btn span {
    display: block;
    height: 2px;
    background-color: #000;
  }
  .menu__list {
    transform: translateX(-200%);
    background-color: #ced3ca;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5em;
    margin-top: -2em;
  }
  .menu__list.menu__list--active {
    transform: translateY(0);
  }

  .header__delimiter {
    display: none;
  }

  .header__links {
    flex-direction: column;
  }

  .header__inner {
    text-align: center;
  }

  .shop__inner {
    text-align: center;
  }

  .shop__cards {
    flex-direction: column;
  }
  .shop__card__item {
    text-align: center;
    margin-right: 0em;
  }

  .shop__card__img--main,
  .shop__card__img--second {
    margin: 0 auto;
  }

  .shop__card__item:not(:nth-of-type(4n + 0)) {
    margin-right: 0;
  }

  .shop__carousel__list {
    flex-direction: column;
    gap: 2em;
    text-align: center;
    display: none;
    transition: all 0.3s;
  }
  .shop__btn {
    display: block;
    border-style: none;
    margin-bottom: 2em;
    padding: 1em 1.5em;
    cursor: pointer;
    margin: 0 auto 2em;
  }
  .shop__carousel__list--active {
    display: flex;
  }

  .shop__inner__link {
    padding: 1em 1em;
  }
  .sale__desc {
    text-align: center;
  }
  .mission__cards.cards--top {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .mission__title {
    font-size: 25px;
  }
  .gather__link {
    margin-top: 1em;
  }
  .gather__image {
    padding-top: 1em;
  }
  .section__story {
    background-position-x: 38%;
  }
  .main__form {
    flex-direction: column;
  }
  .form__email {
    @include paddings(0.7em 1em 0.875em 1.1em);
  }
  .form__btn {
    margin: 1em auto;
  }
  .footer__inner {
    display: block;
    padding: 1em 0;
    text-align: center;
  }
  .about__list.list--p1 {
    margin: 0 auto;
  }
  .about__list.list--p1 > li,
  .about__list.list--p2 > li {
    font-size: 15px;
    line-height: 100%;
    margin-bottom: 2em;
  }
  .footer__desc {
    font-size: 15px;
    line-height: 140%;
    margin-left: auto;
    max-width: 100%;
  }
  .desc__top {
    text-align: center;
    padding: 1em;
    display: block;
    max-width: 100%;
  }
  .desc__bottom,
  .copy__title,
  .copy__subtext {
    text-align: center;
  }
  .copy__title,
  .copy__subtext,
  .desc__bottom {
    margin-right: 0;
    margin-top: 1em;
  }
}
